.cardbox{
    width:fit-content;
    height:fit-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    margin: 1%;
    padding: 10px;
    text-align: center;
}

.row {
    display: flex;
}

.page_header{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    font-weight: bolder;
    font-size: larger;
}

.textCenter{
    text-align: center;
}