.gradient-bg{
    background: rgb(95,58,180);
    background: linear-gradient(90deg, rgba(95,58,180,1) 0%, rgba(29,191,253,1) 50%, rgba(252,192,69,1) 100%);  
}

.center-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header{
    font-weight: bold;
    font-size: x-large;
    color: aliceblue;
}

.button {
    background-color: #38904A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4AA85D;
    color: white;
}